# ملفات بيئة Python
__pycache__/
*.pyc
*.pyo
*.pyd

# ملفات بيئة
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# قاعدة البيانات
*.sqlite
*.db

# السجلات
*.log
logs/

# الملفات المحملة
static/transaction_files/*
!static/transaction_files/.gitkeep
database_backups/

# إعدادات IDE
.idea/
.vscode/